@{
    ViewData["Title"] = "We have got some trouble | 403 - Forbidden";
    Layout = "_LayoutError";
}


<div class="cover"><h1>Forbidden <small>403</small></h1><p class="lead">This area is forbidden. Turn back now!</p><p><a href="/Login" style="color:black"><button class="denied__link">Go Home</button></a></p></div>

