@{
    ViewData["Title"] = "We have got some trouble | 401 - Unauthorized";
    Layout = "_LayoutError";
}


<div class="cover"><h1>Unauthorized <small>401</small></h1><p class="lead">The requested resource requires an authentication.</p><p><a href="/Login" style="color:black"><button class="denied__link">Go Home</button></a></p></div>

