@{
    ViewData["Title"] = "LogIn";
    Layout = "_Layout";
}

@*===========================================================LogIN================================================================*@
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">login</button>*@

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
           @* <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>@TempData["Message"]</strong>
            </div>*@
            @* <p class="bg-danger" style="color:white">@TempData["Message"]</p>*@
            <div class="col-xl-10 col-lg-12 col-md-5">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 center">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                    </div>
                                    <form class="user" onsubmit="loginUser()" >
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   name="Email" id="Email" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address (Gmail.com)">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   name="Password" id="Password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Remember
                                                    Me
                                                </label>
                                            </div>
                                        </div>
                                        <button  type="submit" class="btn btn-primary btn-block">Login</button>
                                        <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block bg-danger text-light">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                                    </form>
                                     <hr>
                                    <div class="text-center  mt-2">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-6 align-self-md-center">
                                 <center>
                                     <img src="https://www.pngkey.com/png/full/367-3670351_access-login-icon.png" height="300" width="300" />
                                 </center>
                             </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>



